<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
    </style>
    <body style="min-height: 100%; border: black;">
        <div class="d-flex flex-column flex-md-row align-items-center pb-1 mb-1 border-bottom border-3">
            <a href="{% url 'home' %}" class="d-flex align-items-center text-dark text-decoration-none ms-lg-5">
              <span class="fs-1 ms-lg-5">CarExpert</span>
            </a>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto mx-5 fs-5">
              <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Найти</a>
              <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add_car'%}">Добавить</a>
              <a class="me-3 py-2 text-dark text-decoration-none" href="admin">Админ</a>
            </nav>
        </div>
        <div style="width: 60%; margin-left: 20%; border: 1px solid black; padding: 3%;">
          {% block content %}
          {% endblock %}
        </div>
    </body>
</html>