{% extends 'Cars/base.html'%}

{% block title %}
Найти
{% endblock %}

{% block content %}
<form action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    <p>
        <label for="{{ form.subject.id_for_name }}">Предпочитаемая марка (опционально):</label>
        {{ form.name }}
    </p>
    <p>
        <p>
            <label for="{{ form.subject.id_for_cost }}" name = "srch_cost">Бюджет:</label>
            {{ form.cost }}
            <output>50000</output>$
        </p>
    </p>
    <p>
        <label for="{{ form.subject.id_for_serv }}" name = "serv">Стоимость обслуживания:</label>
        {{ form.serv }}
    </p>
    <p>
        <label for="{{ form.subject.id_for_type }}" name = "type">Кузов:</label>
        {{ form.type }}
    </p>
    <p>
        <label for="{{ form.subject.id_for_name }}" name = "fuel">Топливо:</label>
        {{ form.fuel }}
    </p>
    <p>
        <label for="{{ form.subject.id_for_name }}" name = "country">Местность:</label>
        {{ form.country }}
    </p>
    
    <p class="text-center">
      <button class="text-center w-25 btn btn-lg btn-primary" type="submit" name = "submit" value="Submit">Найти</button>
    </p>

</form>
{% if submitbutton == "Submit" %} 
    {% for item in srch %}
        <div>
            <p>
                {{ item.name }}
                {{ item.carmod }}
            </p>
        </div>
    {% endfor%}

{% endif %}
</form>

{% endblock %}

    
