{% extends 'Cars/base.html'%}

{% block title %}
Найти
{% endblock %}

{% block content %}
<div class="card" style="width: 60%;height: 100%; margin-left: 20%;">
  <div class="card-body fs-5">
      <form>
          <div>
            <label class="text-lg-s">Бюджет </label>
            <input type="range" style="size: 30px ;" value="5000" min="5000" max="100000" step="5000" oninput="this.nextElementSibling.value = this.value">
            <output>5000</output>$
          </div>
        </form>
        <form>
          <div>
            <label class="text-lg-s">Годовой доход </label>
            <input type="number" min="0" step="1000" style="width: 150px; border-radius: 10px; margin-left: 1%;">$
          </div>
        </form>
        <form>
          <div>
            <label class="text-lg-s">Количество пассажиров </label>
            <div class="dropdown" style="padding-left: 0%;">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выбрать количество пассажиров
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </form>
        <form>
          <div>
            <label class="text-lg-s">Тип местности: </label>
            <div class="dropdown" style="padding-left: 0%;">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выбрать местность
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </form>
        <form>
          <div>
            <label class="text-lg-s">Тип кузова </label>
            <div class="dropdown" style="padding-left: 0%;">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выбрать тип кузова
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </form>
  </div>
{% endblock %}